@font-face {
  font-family: 'GT-Eesti';
  font-weight: 400;
  src: url('/assets/GT-Eesti-Text-Book.ttf')  format('truetype');
}
@font-face {
  font-family: 'GT-Eesti-Display-Medium';
  font-weight: 400;
  src: url('/assets/GT-Eesti-Display-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'GT-Super';
  font-weight: 400;
  src: url('/assets/GT-Super-Display-Light.ttf')  format('truetype');
}
html {
  font-size: 18pt;
}
body {
  font-family: sans-serif;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: rgb(248, 238, 232);
  max-width: 1000px;
  margin: auto;
}
h1, h2, h3, h4, p {
  line-height: 1.35em;
  font-weight: normal;
  margin: 0 0 0.6rem;
  letter-spacing: 0.02em; 
}
h1 {
  font-family: sans-serif;
  font-size: 3.2rem;
  line-height: 0.96em;
}

h2 {
  font-family: serif;
  font-size: 2rem;
  line-height: 0.96em;
}

a {
  color: green;
  cursor: pointer;
  text-decoration: underline green dashed;
}

.container {
  padding: 100px 40px;
  max-width: 960px;
}

.ted-container {
  max-width: 854px;
  margin-bottom: 20px;
}

.ted-frame {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

